.chat-main__message-list-messageBox
  .chat-main__message-list-messageBox-messageInfo
    .chat-main__message-list-messageBox-messageInfo-userName
      = message.user.name
    .chat-main__message-list-messageBox-messageInfo-date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list-messageBox-message
    - if message.content.present?
      %p.chat-main__message-list-messageBox-message-content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?